.help{
    background-size: 80%;
    padding-left: 5%;
    padding-right: 5%;
}
.contain{
background-color: rgb(248, 161, 161);
border-radius: 1rem;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 10px;
}
.Row{
    display: flex;
    padding-bottom: 2rem;
}
.help h1{
    text-align: center;
    color: rgb(97, 3, 3);
}
.main_1{
    width: 100%;
    min-height: 380px;
    text-align: center;
    position:relative;
    cursor: pointer;
}
.col-md-4{
    font-display:flex;
}
.service{
    background: #fff;
    border-radius: 10px;
    height: 70%;
    width: 70%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    box-shadow: 0 0 20px -15px #030380;
    transition: transform .8s;

}
.icon{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: -90px auto 0;
    background: #fff;
    border: 18px solid lightblue;
}
.service h4{
    height: 35px;
    width: 80%;
    background: rgb(243, 240, 240);
    margin: 50px auto;
    position: relative;
}
.service h4::after{
    content: '';
    width: 40px;
    height: 30px;
    background: linear-gradient(to right,#fff,lightblue);
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: -1;
}
.service h4::before{
    content: '';
    width: 40px;
    height: 30px;
    background: linear-gradient(to right,lightblue,#fff);
    position: absolute;
    left: -5px;
    bottom: -5px;
    z-index: -1;
}
.main_1:hover .service{
    transform: translate(-50px);
}