.blog .adda_1 h1{
  text-align: center;
  font-size: 72px;
  background: -webkit-linear-gradient(#eee, rgb(8, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card_1 {
  position: relative;
  height: 450px;
  width: 900px;
  margin: 200px auto;
  background-color: #FFF;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
}
.thumbnail {
  float: left;
  position: relative;
  left: 30px;
  top: 30px;
  height: 320px;
  width: 510px;
  -webkit-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}
img.left_2 {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.right_2 {
  margin-left: 590px;
  margin-right: 20px;
  margin-bottom: 100px;
}
.right_2 h1 {
  padding-top: 5px;
  font-size: 1.5rem;
  color: #926f0f;
}
.card_1 .right_2 .adda{
  padding-bottom:10rem ;
  text-align: center;
  margin-top: 0px;
}
.right_2 .author_1 h2 {
  padding-top: 0px;
  margin-right: 6px;
  text-align: right;
  font-size: 2rem;
}
.card_1 .right_2 p {
  text-align: justify;
  padding-bottom: 20px;
  font-size: .95rem;
  color: #403752;
}

.card_1 h5 {
  position: absolute;
  left: 30px;
  bottom: 15px;
  font-size: 2rem;
  color: #926f0f;
}
